body{
    margin: 0;
    font-family: 'popins', sans-serif;
    background-color: #FBFBEC;
}

.logo {
    text-align: center;
    color: #FBFBEC;
    padding: 0px;
    font-size: 20px;
}


.cabecalio {
    background-color: #5D6532;
    padding: 10px;
    text-align: center;
}

section a {
    text-decoration: none;
    color: #333b00;
    padding: 5px;
}

section h2 {
    text-decoration: underline;
    color: black;

}

aside {
    width: 10   0px;
    background-color: #5D6532;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
}


aside a {
    display: block;
    padding-top: 20px;
    padding: 10px 0;
    color: #FBFBEC;
    text-decoration: none;
    font-size: 1.1rem;
}

aside a:hover {
    background-color: #808080;
}

.materias {
    padding-bottom: 10px;
}

main {
    margin-left: 150px;
    margin-top: 50px;
}

.imagem {
    width: 50px;
    height: 50px;
}

.card {
    background-color: #5D6532 ;
    color: #FBFBEC;
    padding: 10px 30px;
    border-radius: 20px;
}
